{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<h1>About Me</h1>
		<p>
		<ul>
			<li>I am an IT Professional with 5+ years of experience in Python & Linux.</li>
			<li>I am proficient in DevOps, Cloud & Data-science technologies.</li>
			<li>I hold a B.Tech degree from SASTRA University, Tamil Nadu, India.</li>
			<li>I am open to any new challenges.</li>
		</ul>
		If you would like to reach out to me, my contacts are listed in the sidebar. 						 	       </p>								            
		<h3>Cheers..!!</h3>			
	</div>
{% endblock content %}
